@charset "utf-8";

body {
    margin: auto;
    max-width: 40rem;
    font-family: "メイリオ";
    line-height: 2;
}
h1 {
    font-size: 1.5rem;
}
label {
    display: block;
}
pre {
    padding: 1rem;
    border-radius: 4px;
    font-family: "メイリオ";
    font-size: .8rem;
    background-color: #333;
    color: #eee;
    position: relative;
}
pre:after {
    content: "var_dumpの表示";
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ccc;
}
.change_image {
    display: flex;
}
.change_image p:first-child {
    margin-right: 40px;
    position: relative;
}
.change_image p:first-child:after {
    content: "→";
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: -30px;
}
img {
    filter: invert(4%);
}
table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    font-size: .8rem;
}
th,
td {
    padding: 5px;
}
td:nth-child(2) {
    vertical-align: top;
}
.table_image {
    width: 7rem;
}
table td img {
    width: 100%;
}
table input[type="text"] {
    width: 4rem;
}
.table_num {
    text-align: right;
}
.table_image,
.table_delete {
    text-align: center;
}
.total_price {
    margin: 0 0 2rem;
    padding-right: 3rem;
    text-align: right;
}
.total_price span {
    margin-left: 3rem;
}