@charset "utf-8";

body {
    margin: auto;
    max-width: 40rem;
    font-family: "メイリオ";
    line-height: 2;
    background-color: #fafafa;
}
h1 {
    font-size: 1.5rem;
}
label {
    display: block;
}
pre {
    font-family: "メイリオ";
    font-size: .8rem;
}
.change_image {
    display: flex;
}
.change_image p:first-child {
    margin-right: 40px;
    position: relative;
}
.change_image p:first-child:after {
    content: "→";
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: -30px;
}